html,
body,
#device-manage_content {
    width: 100%;
    height: 100%;
}

#device-manage_content {
    padding-top: 80px;
    padding-bottom: 25px;
    box-sizing: border-box;
    background: url('../img/bg.png') no-repeat center/cover; 
    overflow: hidden;
    >div{
        float: left;
    }
}

#title{
    position: absolute;
    top:25px;
    left:0;
    width: 100%;
    font-size: 30px;
    text-align: center;
    color: #fff;
    text-shadow: 5px 5px 20px #fff
}

.content_left {
    width: 46%;
    height: 100%;
}

.content_right {
    width: 54%;
    height: 100%;
}

.content_left_top,
.content_right_top {
    height: 55%;
}

.content_left_bottom,
.content_right_bottom {
    height: 45%;
}

.chart_container {
    box-sizing: border-box;
    padding: 2%;
    .chart_content {
        width: 100%;
        height: 100%;
        box-shadow:0 0 8px rgba(0,173,255,0.8) inset;
        border-radius: 6px;
    }
}


#importRate,#activateRate{
    height: 100%; 
    width: 50%;
    float: left;
}