html,
body,
#device-manage_content {
    width: 100%;
    height: 100%;
}

#device-manage_content {
    padding-top: 50px;
    box-sizing: border-box;
    background: url('../img/bg.png') no-repeat center/cover; 
    overflow: hidden;
    >div{
        float: left;
    }
}



.content_left {
    width: 46%;
    height: 100%;
}

.content_right {
    width: 54%;
    height: 100%;
}

.content_left_top,
.content_right_top {
    height: 55%;
}

.content_left_bottom,
.content_right_bottom {
    height: 45%;
}

.chart_container {
    box-sizing: border-box;
    padding: 2%;
    border: 2px solid red;
    .chart_content {
        width: 100%;
        height: 100%;
    }
}


#importRate,#activateRate{
    height: 100%; 
    width: 50%;
    float: left;
}