html,
body,
#watch_device_health {
    width: 100%;
    height: 100%;
}
#watch_device_health{
    padding-top: 50px;
    box-sizing: border-box;
    background: url('../img/bg.png') no-repeat center/cover; 
    overflow: hidden;
    >div{
        float: left;
    }
}
   
#watch_device_health{
    .content_left {
        width: 58%;
        height: 100%;
    }

    .content_right {
        width: 42%;
        height: 100%;
        >div{
            width:100%;
            height:33.33%;
            padding:15px;
            box-sizing: border-box;
            >div{
                border:1px solid #fff;
                height: 100%;
            }
        }
    }
}

